.card {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 7px #ccc;
  position: relative;
  max-height: 400px;
  img {
    width: 100%;
  }
  .card-user-name {
    font-size: 1.6em;
    font-weight: 800;
    color: #7c7c7c;
    padding: 10px 15px;
  }
  .user-award-grid-container {
    padding: 10px 15px;
  }
  .rank-container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  .rank {
    font-size: 1.2em;
    font-weight: 800;
    color: #7c7c7c;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .totals-container {
    display: flex;
    padding: 10px 15px;
  }
  .totals-list {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
  }
  .totals {
    color: #0c0c0c;
    font-size: 1.5em;
    font-weight: 800;
  }
}

.all-awards {
  background-color: #fff;
  box-shadow: 0 4px 6px #ccc;
  border-radius: 6px;
}

.content-emojis.card {
  max-height: 100%;
  padding: 20px;
  margin-top: 30px;
  .emojis-list > .media {
    padding: 10px;
    transition: all 0.1s ease-in-out;
    a {
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 2px 2px 3px 1px #d4d4d4;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
    }
  }
}