.content-grid {
  max-width: 1080px;
  margin: 0 auto;
}


.totals-label {
  color: hsla(199, 106%, 82%, 1);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.10em;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.totals-rank,
.totals-sent,
.totals-receive {
  display: grid;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
}

.rank-container {
  display: grid;
  align-content: center;
  text-align: center;
}

.totals,
.rank {
  color: hsla(0, 0%, 96%, 1);
  font-size: 2.5em;
}

.totals-rank {
  .totals-label {
    text-align: left;
  }
}

.section-header {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.btn-overview {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-evenly;
  //background-color: hsla(213, 85%, 44%, 0.85);
  // background-color: rgba(92, 139, 175, .80);
  background-color: hsla(214, 71%, 37%, 0.90);
  border: none;
  color: #fff;
  opacity: 0.95;
  border-radius: 6px;
  padding: 8px 4px;
  width: 125px;
  .icon-container {
    width: 24px;
    color: #fff;
    height: 24px;
    background-color: #007ecf;
    border-radius: 50%;
    display: inline-block;
  }
}