label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
  max-width: 100%;
  color: hsla(0, 0, 45%, 1);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 12px;
}

.search-input {
  position: relative;
  margin-top: 8px;
  input[type='search'] {
    background-color: #f6fbff;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    font-size: 14px;
  }
  .btn {
    position: absolute;
    right: 2px;
    border: none;
    padding: 6px 12px;
    margin-top: 1px;
    border-left: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:hover,
  &:focus {
    outline: none;
  }
}