$primary-color: #6FBDC9;
$secondary-color: #F5F6EF;
$outline-color: adjust-color($primary-color, $hue: 20%, $lightness: -34%);
$fill-color: adjust-color($primary-color, $saturation: -82%, $lightness: 50%);


.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "a b b"
    "a b b"
    "a b b";
}
.sidebar {
  grid-area: a;
  width: 200px;
  height: 100%;
}

.App-header {
  padding: 1rem;
  min-height: 75px;
  background-color: rgba(247, 251, 255, 1);
  color :#013553;

  display: grid;
  grid-template-columns: 20% 4fr 1fr;
  align-items: center;
  nav {
    font-family: $font-stack-sans;
    font-weight: 800;
    color: #000;
    ul {
      display: flex;
      justify-content: center;
      > li {
        margin-right: 1em;
        display: flex;
        align-items: center;
        a {
          color: #2b4787;
        }
      }
    }
  }
  .user-account {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 7px #888;
      padding: 2px;
    }
  }
  .title {
    font-family: $font-stack-sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2em;
    font-size: 1.2em;
    line-height: 1.6;
  }
}

.main {
  grid-area: b;
  .content {
    border-top: 1px solid #eee;
    background-color: rgba(247, 251, 255, 1);
    min-height: 100%;
    height: auto;
  }
}

.header--branding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .branding {
    font-size: 2em;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &.emojis-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px 20px;
  }
  .emojis-default {
    .emoji-icn {
      font-size: 24px;
    }
  }
}

.rounded {
  border-radius: 50%;
}

.media:first-child {
  margin-top: 15px;
}

.container {
  max-width: 900px;
  margin-top: 60px;
  text-align: center;
}

.heroicon-container {
  height: 32px;
  font-size: 14px;
  margin-right: 10px;
}

.heroicon {
  margin-bottom: 15px;
}

.heroicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word
}

.heroicon- {
  &outline {
    fill: $outline-color;
  }

  &component- {
    &fill {
      fill: $fill-color;
    }
    &accent {
      fill: $primary-color;
    }
  }

  &shadows {
    fill: $outline-color; opacity: .4;
  }
}

.overview {
  width: 100%;
  height: 200px;
  background: #2485ca; /* Old browsers */
  background: -moz-linear-gradient(top, #5d87a5  0%, #0078c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5d87a5  0%,#0078c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5d87a5  0%,#0078c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2485ca', endColorstr='#0078c9',GradientType=0 );
  margin-bottom: 2em;
}

.overview-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 40px;
}

.card img.emoji-icn-as-img {
  width: 32px;
  height: 32px;
}

#emojisTabs {
  margin-top: 30px;
}

.checked {
  width: 5px;
  height: 5px;
  display: inline-block;
  bottom: 50%;
}