.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #11A4DD;
  padding: 15px 20px;
}
.nav > li > a {
  padding: 15px 20px;
}
.nav-tabs {
  border: none;
}