@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: auto;
  min-height: 100%; }

body {
  font-family: "Lato", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Lato", sans-serif; }

.meta {
  font-size: 80%;
  color: #777777;
  margin-top: 7px; }

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "a b b" "a b b" "a b b"; }

.sidebar {
  grid-area: a;
  width: 200px;
  height: 100%; }

.App-header {
  padding: 1rem;
  min-height: 75px;
  background-color: #f7fbff;
  color: #013553;
  display: grid;
  grid-template-columns: 20% 4fr 1fr;
  align-items: center; }
  .App-header nav {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #000; }
    .App-header nav ul {
      display: flex;
      justify-content: center; }
      .App-header nav ul > li {
        margin-right: 1em;
        display: flex;
        align-items: center; }
        .App-header nav ul > li a {
          color: #2b4787; }
  .App-header .user-account {
    width: 64px;
    height: 64px;
    margin: 0 auto; }
    .App-header .user-account img {
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 7px #888;
      padding: 2px; }
  .App-header .title {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.2em;
    font-size: 1.2em;
    line-height: 1.6; }

.main {
  grid-area: b; }
  .main .content {
    border-top: 1px solid #eee;
    background-color: #f7fbff;
    min-height: 100%;
    height: auto; }

.header--branding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .header--branding .branding {
    font-size: 2em; }

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
  .grid-list.emojis-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px 20px; }
  .grid-list .emojis-default .emoji-icn {
    font-size: 24px; }

.rounded {
  border-radius: 50%; }

.media:first-child {
  margin-top: 15px; }

.container {
  max-width: 900px;
  margin-top: 60px;
  text-align: center; }

.heroicon-container {
  height: 32px;
  font-size: 14px;
  margin-right: 10px; }

.heroicon {
  margin-bottom: 15px; }

.heroicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; }

.heroicon-outline {
  fill: #264765; }

.heroicon-component-fill {
  fill: white; }

.heroicon-component-accent {
  fill: #6FBDC9; }

.heroicon-shadows {
  fill: #264765;
  opacity: .4; }

.overview {
  width: 100%;
  height: 200px;
  background: #2485ca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5d87a5 0%, #0078c9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5d87a5 0%, #0078c9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5d87a5 0%, #0078c9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2485ca', endColorstr='#0078c9',GradientType=0 );
  margin-bottom: 2em; }

.overview-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 40px; }

.card img.emoji-icn-as-img {
  width: 32px;
  height: 32px; }

#emojisTabs {
  margin-top: 30px; }

.checked {
  width: 5px;
  height: 5px;
  display: inline-block;
  bottom: 50%; }

label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
  max-width: 100%;
  color: #737373;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 12px; }

.search-input {
  position: relative;
  margin-top: 8px; }
  .search-input input[type='search'] {
    background-color: #f6fbff;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    font-size: 14px; }
  .search-input .btn {
    position: absolute;
    right: 2px;
    border: none;
    padding: 6px 12px;
    margin-top: 1px;
    border-left: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .search-input:hover, .search-input:focus {
    outline: none; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 16px 8px;
  vertical-align: middle; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #11A4DD;
  padding: 15px 20px; }

.nav > li > a {
  padding: 15px 20px; }

.nav-tabs {
  border: none; }

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */
.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center; }

.rdtPicker table {
  width: 100%;
  margin: 0; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer; }

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default; }

.rdtPicker th.rdtSwitch {
  width: 100px; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: #eee; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: #eee; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

.rdtTime td {
  cursor: default; }

.sidebar .sidebar--main {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content-grid {
  max-width: 1080px;
  margin: 0 auto; }

.totals-label {
  color: #a3e2ff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1.10em;
  display: flex;
  flex-direction: column;
  align-self: flex-end; }

.totals-rank,
.totals-sent,
.totals-receive {
  display: grid;
  justify-content: space-evenly;
  height: 200px;
  align-items: center; }

.rank-container {
  display: grid;
  align-content: center;
  text-align: center; }

.totals,
.rank {
  color: whitesmoke;
  font-size: 2.5em; }

.totals-rank .totals-label {
  text-align: left; }

.section-header {
  font-size: 1.3em;
  margin-bottom: 1em; }

.btn-overview {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(27, 85, 161, 0.9);
  border: none;
  color: #fff;
  opacity: 0.95;
  border-radius: 6px;
  padding: 8px 4px;
  width: 125px; }
  .btn-overview .icon-container {
    width: 24px;
    color: #fff;
    height: 24px;
    background-color: #007ecf;
    border-radius: 50%;
    display: inline-block; }

.card {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 7px #ccc;
  position: relative;
  max-height: 400px; }
  .card img {
    width: 100%; }
  .card .card-user-name {
    font-size: 1.6em;
    font-weight: 800;
    color: #7c7c7c;
    padding: 10px 15px; }
  .card .user-award-grid-container {
    padding: 10px 15px; }
  .card .rank-container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center; }
  .card .rank {
    font-size: 1.2em;
    font-weight: 800;
    color: #7c7c7c;
    position: absolute;
    top: 15px;
    left: 15px; }
  .card .totals-container {
    display: flex;
    padding: 10px 15px; }
  .card .totals-list {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%; }
  .card .totals {
    color: #0c0c0c;
    font-size: 1.5em;
    font-weight: 800; }

.all-awards {
  background-color: #fff;
  box-shadow: 0 4px 6px #ccc;
  border-radius: 6px; }

.content-emojis.card {
  max-height: 100%;
  padding: 20px;
  margin-top: 30px; }
  .content-emojis.card .emojis-list > .media {
    padding: 10px;
    transition: all 0.1s ease-in-out; }
    .content-emojis.card .emojis-list > .media a {
      color: #333; }
      .content-emojis.card .emojis-list > .media a:hover {
        text-decoration: none; }
    .content-emojis.card .emojis-list > .media:hover {
      box-shadow: 2px 2px 3px 1px #d4d4d4;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.1s ease-in-out; }
